<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCe-hEls1xdC7pK86R6WKP5ITJgVJT85CQ</string>
	<key>GCM_SENDER_ID</key>
	<string>281616262914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.family.checky.mobile</string>
	<key>PROJECT_ID</key>
	<string>checky-32d6f</string>
	<key>STORAGE_BUCKET</key>
	<string>checky-32d6f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281616262914:ios:3b51b80b52a6932e82c41b</string>
</dict>
</plist>